html,body { 
  background: url(images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
	border-radius:0;
	
}

.navbar-brand{
	font-family:'Satisfy', cursive; 
}

a {
	text-decoration: none;
}